body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
  background-color: #191414;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
h1 {
  color: #ffffff;
  font-size: 14px;
  margin-top: 20px;
  margin-left: 50px;
}
.albumSection {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-left: 20px;
}

.album-image {
  position: relative;
  width: 300px;
  height: 300px;
  margin-top: 20px;
}

.icons-container {
  position: absolute;
  top: 50%;
  height: inherit;
  width: inherit;
  left: 50%;
  transform: translate(-50%, -50%);
}

.icons-container:hover {
  background: rgba(41, 42, 47, 0.5);
  transition: 0.3s;
}

.artist a {
  font-size: 14px;
  color: #a0a0a0;
  text-decoration: none;
}

.artist :hover {
  text-decoration: underline;
}
.album-name {
  inline-size: 300px;
  overflow: hidden;
}
.album-link {
  color: #ffffff;
  text-decoration: none;
  font-size: 14px;
}

.album-link :hover {
  text-decoration: underline;
}

.image-container {
  position: relative;
  z-index: -1;
  filter: brightness(0) invert(1);
}

.icons {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.icons-container:hover .icons {
  display: flex;
}

.icon {
  width: 30px;
  padding: 0 15px;
  z-index: 1;
  filter: brightness(0) invert(1);
}

/* .heart,
.play,
.dots {
  width: 30px;
} */

.play:hover {
  transition: 0.25s ease-in-out;
  transform: scale(1.3);
}
